@model IEnumerable<Bookfinder.Models.Book>

@{
	ViewData["Title"] = "Books";
}

<div class="row">
    <h2>Meus Livros <a class="btn btn-success" type="button" asp-action="Create">+</a></h2>
      
<div/>


@foreach (var item in Model)
    {
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Autor: @Html.DisplayFor(modelItem => item.Author) | categoria: @Html.DisplayFor(modelItem => item.Category)</h6>
                <p class="card-text">Lido por: @Html.DisplayFor(modelItem => item.User.Name)</p>

                <p class="card-text">Lido por: @Html.DisplayFor(modelItem => item.Comment)</p>


                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>


            </div>
        </div>
    }


