@model IEnumerable<Bookfinder.Models.Book>

@{
	ViewData["Title"] = "Books";
}

<div class="row">
    <h2>Meus Livros <a class="btn btn-success" type="button" asp-action="Create">+</a></h2>
      
<div/>

    <div class="container">
        <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="p-3">
                        <div class="card mb-3" style="width: 20rem; height: 300px">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">
                                    @Html.DisplayFor(modelItem => item.Author) | @Html.DisplayFor(modelItem => item.Category)
                                </h6>
                                <p class="card-text">Lido por: @Html.DisplayFor(modelItem => item.User.Name)</p>

                                <div style="min-height: 120px">
                                    <p class="card-text">Comentário: @Html.DisplayFor(modelItem => item.Comment)</p>
                                </div>

                                <div class="card-body align-items-end">

                                    <a href="@Url.Action("Details", new {id = item.Id})" class="btn btn-primary" style="font-size: 15px">
                                        <i class="fa-solid fas fa-search"></i> Detalhes
                                    </a>

                                    <a href="@Url.Action("Edit", new {id = item.Id})" class="btn btn-secondary" style="font-size: 15px">
                                        <i class="fa-solid fa fa-pencil"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger" style="font-size: 15px">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>

